.card{
  border: 1px solid rgb(84, 82, 82);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(95, 89, 89, 0.118);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-img{
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(32, 32, 32);
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}